
@{
    ViewData["Title"] = "Le Nostre Pizze";
}

<section class="wrapper">
<div class="container">
    <input id="search" type="text" class="mb-4" placeholder="filter pizza" onkeyup="search()"/>
    <div class="row">
            @*@foreach(Pizza pizza in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="@Url.Action("Details", "Pizze", new {Id = pizza.Id})">
                        <div class="card text-white card-has-bg click-col" style="background-image: url(@pizza.ImageUrl); ">
                            <div class="card-img-overlay d-flex flex-column justify-content-between">
                                <div class="card-body">
                                    <h4 class="card-title mt-0 ">@pizza.Name</h4>
                                </div>
                                <div class="card-footer align-self-end">
                                    <a class="btn btn-primary" href="@Url.Action("EditForm", "Pizze", new {Id = pizza.Id})">Edit</a>
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "Pizze", new {Id = pizza.Id})">Delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }*@
    </div>
  
</div>
</section>


<script>

let globalTimeout = null;

getData(null);


function search() {
    const eleInput = document.getElementById("search");
    let searchString = eleInput.value;
    if(globalTimeout != null) clearTimeout(globalTimeout);  
    globalTimeout =setTimeout(getData, 200, searchString);  

}

function getData(searchString) {
    globalTimeout = null;
   
    axios.get("api/pizza", {
        params: {
            search: searchString
        }
    })
        .then(function (response) {
        // handle success
            const container = document.querySelector(".row");
            container.innerHTML = "";
            response.data.forEach(pizza => { 
                const card = document.createElement("div");
                //<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                card.className = "col-sm-12 col-md-6 col-lg-4 mb-4"
                card.innerHTML = `<a href="/home/details/${pizza.id}"> <div class="card text-white card-has-bg click-col" style="background-image: url(${pizza.imageUrl}); "><div class="card-img-overlay d-flex flex-column justify-content-between"><div class="card-body"><h4 class="card-title mt-0 ">${pizza.name}</h4></div>`;
                container.append(card);
            })

            console.log(response.data);
        })
}
    
</script>
