@model la_mia_pizzeria_static.RelationshipsModels.PizzaRelationships

@{
    ViewData["Title"] = "EditForm";
}

<h4>Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Pizze" asp-route-id="@Model.Pizza.Id" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pizza.Id" />
            <div class="form-group">
                <label asp-for="Pizza.Name" class="control-label"></label>
                <input asp-for="Pizza.Name" class="form-control" />
                <span asp-validation-for="Pizza.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pizza.Description" class="control-label"></label>
                <input asp-for="Pizza.Description" class="form-control" />
                <span asp-validation-for="Pizza.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pizza.Price" class="control-label"></label>
                <input asp-for="Pizza.Price" class="form-control" />
                <span asp-validation-for="Pizza.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pizza.ImageUrl" class="control-label"></label>
                <input asp-for="Pizza.ImageUrl" class="form-control" />
                <span asp-validation-for="Pizza.ImageUrl" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Pizza.CategoryId" class="control-label"></label>
                <select asp-for="Pizza.CategoryId" class="form-control">
                    <option value=""></option>
                    @foreach(Category cat in @Model.Categories)
                    {
                        if(cat.Id == Model.Pizza.CategoryId)
                        {
                            <option value="@cat.Id" selected>@cat.Name</option>
                        }else{
                            <option value="@cat.Id">@cat.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="SelectedIngredients"
                multiple="multiple" size="10"
                class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                asp-items="@Model.Ingredients">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
